<style type="text/css">
  li a {
    display: block; color: #bbb; padding: 8px 0 8px 16px;
  }

  ul{
    margin: 0; padding: 0; width: 200px; background-color: #222;
  }

  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }

  .caption{
    box-shadow: 10px 10px  #888888; border-radius: 150px; text-align: center;
  }

  .new{
    margin-top:10%; text-align: center; 
  }
</style>

<div>
  <% @equipements.each do |equipement| %> 
   <div class="col-md-3">
     <div class="thumbnail" style="border:none;">
        <div class="caption">
          <div>
            <%= link_to equipement do%>
              <h3>
                <%= equipement.name %>
              </h3>
              <%= image_tag("foot.png", :alt => "foot") %>
              <p>
                <b>Description : </b>
                ...
                <!-- <%= equipement.description %> -->
              </p>
              <p>
                Pour le  
                <b> <%= equipement.sport.name %></b>
              </p>
            <% end %>
          </div>
          <div style="display:inline; ">
              <%= button_to "Edit", edit_equipement_path(equipement), :class => "btn btn-warning", :method => :get%>
              <%= button_to "Destroy", equipement, :class => "btn btn-danger", :method => :delete, data: { confirm: 'Are you sure?' }%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

