 
<div class="page-header">
  <h1 class="text-center">Listing equipements</h1>
</div>


<div class="row">
  <% @equipements.each do |equipement| %>
   <div class="col-sm-6 col-md-4">
     <div class="thumbnail">
       <!-- <img src="..." alt="..."> -->
        <div class="caption">
          <h3><%= equipement.name %></h3>
          <p><%= equipement.description %></p>
          <p>
            <a href="#" class="btn btn-primary" role="button">
              <%= link_to 'Show', equipement %>
            </a> 
            <a href="#" class="btn btn-default" role="button">
              <%= link_to 'Edit', edit_equipement_path(equipement) %>
            </a>
            <a href="#" class="btn btn-default" role="button">
              <%= link_to 'Destroy', equipement, method: :delete, data: { confirm: 'Are you sure?' } %>
            </a>
          </p>
        </div>
      </div>
   </div>
  <% end %>
</div> 

<div>
  <%= link_to 'New Equipement', new_equipement_path %>
</div>
