<p id="notice"><%= notice %></p>

<div class="thumbnail">

  	<h2>Name : <%= @equipement.name %></h2>
  	<!--<img src="..." alt="..."> -->
  	<div class="caption">
	 	<p>Description: <%= @equipement.description %></p>
		<p>Sport: <%= @equipement.sport.name %></p> 		

		<%= link_to 'Edit', edit_equipement_path(@equipement) %> |
		<%= link_to 'Back', equipements_path %>
	</div>

</div>
 