<!DOCTYPE html>
<html>
<head>
  <title>SPORTSTORE</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <style type="text/css">

  h1,h5 { 
  	color:white;
  	text-align: center;
  }
  li a {
    display: block; color: #bbb; padding: 8px 0 8px 16px; height: 90%;
  }

  ul{
    margin: 0; padding: 0; width: 200px; background-color: #222;
  }

  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  } 

  span{
  	margin-left : 5%;
  	font: italic bold 65px/30px Georgia, serif;
  }

  span.Store{
  	color:#c00;
  }

  span.Sport{
  	color:#00c;
  }

  .navbar{
    box-shadow: 10px 10px  #888888; 
  }

  .new{
    margin-top:10%; text-align: center; 
  }
  .form-horizontal{
    width : 90%;  margin-left:5%;
  } 

  .add_sport{
    margin-top: 1%;
    margin-right:15%;
    float:right;
    text-align: right;
  }
</style>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- 
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p> -->

<nav class="navbar navbar-inverse" style="margin-top:0;">
	<%= image_tag("sports.png", :alt => "sports", :style => "left:0;")%>
	<span class="Store">Store </span><span class="Sport"> Sport</span>
</nav> 

<div>
	<div style="background-color:#333; height:100%; display:inline-block; float:left; box-shadow: 10px 10px  #888888; ">
  <h1>StoreSport</h1>

	<hr />
  <div class="nav" style="margin-top:5%">
      <div class="add_sport">
        <%= button_to '+', new_sport_path  , :class => "btn btn-success",:style => "border-radius:20px;",:method => :get%> 
          <%= button_to '+', new_equipement_path, :class => "btn btn-success",:style => "border-radius:20px;",:method => :get%>
      </div>
      <ul> 
        <li>
            <%= link_to "Sport", "/sports"%>
        </li>
        <li>
          <%= link_to "Equipements", "/equipements"%>
        </li>
      </ul>
  </div>


	<hr />

	<form class="form-horizontal">
	<h5 >Contact us</h5>
  <div class="form-group" style="width:100%; margin-left:0%">
    <label class="sr-only"for="exampleInputEmail3">Email address</label>
    <input type="email" readonly class="form-control" id="exampleInputEmail3" placeholder="Email">
  </div>
  <textarea class="form-control" readonly rows="3" placeholder="Tu peux toujours essayer, ça ne marche pas :D"></textarea>
  <div class="checkbox">
    <label style="color:white; font-size:12px">
      <input type="checkbox" > Accept the <b>General Conditions</b>
    </label>
  </div>
  <button type="submit" class="btn btn-default" style="margin-bottom:2%; margin-left:30%;">Send</button>
</form>

</div>
<div style="display:block">
	<%= yield %>
</div>
</div>


</body>
</html>
